<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.shiam.navigationbottom">

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.example.navigationbottom.viewpager.ViewPagerActivity"
                android:label="@string/title_activity_view_pager"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="e507e95e4f6eb9d9afc626bfba8cd6c826196e1e"/>

        <activity
                android:name="com.example.navigationbottom.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>